:root {
	--my-color-1: #0b0c10;
	--my-color-2: #efe2ba;
	--my-color-3: #fc4445;
	--my-color-4: #3feee6;
}
h1 {
	border: 5px solid var(--my-color-2);
	background-color: var(--my-color-3);
	padding: 10px;
	margin: 20px;
	text-align: center;
	color: var(--my-color-2);
}

.nav-button {
	color: #0b0c10;
	enable-background: 0%;
}
