{% extends "base.html" %}
{% block content %}

<h1>Rank Point Calculator</h1>
{% if page == "first" %}
<form action="{{url_for('rp_calc')}}" method="POST">
    <p>
        <label for="include_pw">
            Do you wish to include result of PW?
        </label>
    </p>
    <p>
        <select name="include_pw" id="include_pw">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </p>
    <p>
        <label for="include_mtl">
            Do you wish to include result of Mother Tongue Language?
        </label>
    </p>
    <p>
        <select name="include_mtl" id="include_mtl">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </p>
    <input type="submit" value="Update">
</form>
{% else %}
<form action="{{url_for('rp_display')}}" method="POST">
    <table>
        <tr>
            <th align="left">
                Subject
            </th>
            <th align="left">
                Grade
            </th>
        </tr>
        {% for i in range(subj_names|length) %}
        <tr>
            <td>
                {{subj_names[i]}}
            </td>
            <td>
                <select name="{{subj_names[i]}}">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="S">S</option>
                    <option value="U">U</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <input type="submit" value="Calculate!">

</form>
{% endif %}

{% endblock %}