{% extends "base.html" %}
{% block content %}
<h1>Here is your Rank Point!</h1>
<table>
    <tr>
        <th align="left">Subject Name</th>
        <th align="left">Grade</th>
        <th align="right">RP</th>
    </tr>
    {% for key in result_dict %}
    <tr>
        <td>
            {{key}}
        </td>
        <td>
            {{result_dict[key]}}
        </td>
        <td align="right">
            {{"{0:.2f}".format(result_mark_dict[key])}}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th align="left">Total</th>
        <td></td>
        <th align="right">
            {{"{0:.2f}".format(rp)}} / {{"{0:.2f}".format(total_rp)}}
        </th>
    </tr>
</table>
{% endblock %}